.cart-shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-banner {
  width: 100%;
}

.cart-wrapper {
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: var(--maxWidth);
}

.cart-container {
  margin: 0;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: center;
}

h1 {
  font-family: Malvie, sans-serif;

  color: var(--highlight);
}

.empty {
  font-size: 1.5rem;
}

.total-container {
  margin: 0;
  padding: 0 0 1rem 0;

  background: var(--primary);
}

button {
  margin: 1rem auto 0 auto;
  padding: 0 1rem;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;

  background-color: transparent;
  color: floralwhite;

  border: 5px solid transparent;

  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: scale(1.1);

  background-color: floralwhite;
  color: var(--primary);

  cursor: pointer;
}

@media (max-width: 550px) {
  .cart-container {
    gap: 0.5rem;
  }

  button {
    font-size: 2rem;
  }
}