<div class="cart-shell">
  <app-banner [data]="bannerData"></app-banner>

  <div class="cart-wrapper">
    <div class="cart-container">
      @if (getCartItems().length <= 0) {
        <p class="empty">Cart is Empty</p>
      } @else {

        @for (item of getCartItems(); track item) {
          <app-item [item]="item"></app-item>
        }

        <div class="total-container">
          <app-item [item]="{ id: '0', name: 'Total', price: this.getCartTotal(), image: ''}" [real]="false"></app-item>

          <button>Submit Order</button>
        </div>
      }
    </div>
  </div>
</div>
