.footer-shell {
  margin: 3rem 0 0 0;
}

footer {
  margin: 0;
  padding: 1rem;

  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-family: "Belanosima", sans-serif;
  text-align: center;

  background-color: var(--primary);
  color: floralwhite;
}

footer a {
  color: floralwhite;

  cursor: pointer;
}

footer a:visited {
  color: inherit;

  text-decoration: none;
}

footer p {
  margin: 0;
  padding: 0;

  font-size: 1.25rem;
}

