.nav-shell {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;

  background-color: var(--background);

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

a {
  padding: 0 1rem;

  height: 2rem;

  display: flex;
  align-items: center;

  color: var(--nav-text);
  text-decoration: none;
  text-align: center;

  font-size: 1.1rem;
  font-weight: bold;
  font-variant: all-small-caps;

  border: 2px solid transparent;
  box-sizing: border-box;

  cursor: pointer;
}

a:hover {
  color: var(--nav-highlight);
  border: 2px solid var(--nav-highlight);
}

@media (max-width: 1080px) {
  .nav-shell {
    top: auto;
    bottom: 0;
  }

  nav {
    justify-content: center;
    gap: 2rem;

    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.3);
  }
}

.explore-menu {
  padding: 1rem;

  width: 100%;

  position: fixed;
  bottom: 3rem;
  z-index: -1;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--background);

  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.3);

  opacity: 0;

  transform: translateY(100%);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

  pointer-events: none;
}

.explore-menu.is-open {
  opacity: 1;
  transform: translateY(0);

  pointer-events: auto;
}

@media (max-width: 500px) {
  nav {
    height: 3rem;
    justify-content: space-around;
  }

  .explore-menu {
    bottom: 3rem;
  }
}