<div>
  <nav>
    <app-nav-link [linkData]="home"></app-nav-link>
    <a routerLink="/transportation" routerLinkActive="active">Transportation</a>
    <a routerLink="/lodging" routerLinkActive="active">Lodging</a>
    <a routerLink="/food" routerLinkActive="active">Food</a>
    <a routerLink="/entertainment" routerLinkActive="active">Entertainment</a>
    <a routerLink="/sightseeing" routerLinkActive="active">Sightseeing</a>
    <app-nav-link [linkData]="cart"></app-nav-link>
    <app-nav-link [linkData]="profile"></app-nav-link>
  </nav>
</div>
