<div class="link-shell">

  @if (!isButton) {
    <a [routerLink]="linkData.route" routerLinkActive="active" [class]="'mode-' + linkData.displayMode">

      @if (linkData.icon) {
        <span>
          <span class="nav-icon" [style.mask-image]="'url(' + linkData.icon + ')'" [style.-webkit-mask-image]="'url(' + linkData.icon + ')'"></span>
        </span>
      }

      <span class="nav-text" >{{ linkData.text }}</span>
    </a>
  } @else {
    <button [class]="'mode-' + linkData.displayMode">

      @if (linkData.icon) {
        <span>
          <span class="nav-icon" [style.mask-image]="'url(' + linkData.icon + ')'" [style.-webkit-mask-image]="'url(' + linkData.icon + ')'"></span>
        </span>
      }

      <span class="nav-text" >{{ linkData.text }}</span>
    </button>
  }
</div>