.link-shell {
  /*background-color: red;*/
}

.link-shell:hover {

}

button {
  background-color: transparent;
}

a, button {
  margin: 0;
  padding: 0;

  height: 2rem;

  color: var(--nav-text);
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  border: 2px solid transparent;
  box-sizing: border-box;

  cursor: pointer;
}

/* Hover Highlight when NOT in Icon Only Mode */
a:not(.mode-icon-only, .mode-responsive-show):hover, button:not(.mode-icon-only, .mode-responsive-show):hover {
  color: var(--nav-highlight);
  border: 2px solid var(--nav-highlight);
}

/* Text Only Mode and Responsive Mode Desktop Padding */
a.mode-text-only, a.mode-responsive, button.mode-text-only, button.mode-responsive {
  padding: 0 1rem;
}

/* Icon Mode Desktop Padding */
a.mode-icon-only {
  padding: 0.25rem;
}

/* Both Mode Desktop Padding and Gap */
a.mode-both {
  padding: 0.25rem 1rem 0 1rem;
  gap: 0.25rem;
}

/* Hide Icon in Text Only Mode and Responsive Mode by Default on Desktop */
.mode-text-only .nav-icon , .mode-responsive .nav-icon {
  display: none;
}

/* Hide Text in Icon Only Mode */
.mode-icon-only .nav-text {
  margin: 0;
  padding: 0;

  display: none;
}

.mode-both .nav-icon {

}

.mode-both .nav-text {

}

.mode-responsive .nav-icon {

}

.mode-responsive .nav-text {

}

/* Hide Responsive Show by Default */
.mode-responsive-show, .mode-responsive-show .nav-text {
  display: none;
}

/* Keep Responsive Hide Visible by Default */
.mode-responsive-hide {
  padding: 0 1rem;
}

.nav-icon {
  width: 1.75rem;
  height: 1.75rem;

  color: var(--nav-text);
}

.nav-text {
  margin: 0;
  padding: 0;

  font-size: 1.1rem;
  font-weight: bold;
  font-variant: all-small-caps;

  color: var(--nav-text);
}

span {
  /*background-color: blue;*/
}

span .nav-icon {
  /*background-color: green;*/
}

span + .nav-text {
  /*background-color: yellow;*/
}

@media (max-width: 1080px) {
  /* Remove Hover Highlight as Icon in Responsive Mode */
  a.mode-responsive:hover, a.mode-responsive-hide:hover {
    color: var(--nav-text);
    border: 2px solid transparent;
  }

  /* Responsive Mode Mobile Padding */
  a.mode-responsive {
    padding: 0.25rem;
  }

  /* Show Icon at Lower Resolution in Responsive Mode */
  .mode-responsive .nav-icon {
    display: block;
  }

  /* Hide Text at Lower Resolution in Responsive Mode */
  .mode-responsive .nav-text {
    display: none;
  }

  /* Show Responsive Show on Smaller Screens */
  .mode-responsive-show {
    display: inline;
  }

  /* Hide Responsive Hide on Smaller Screens */
  .mode-responsive-hide {
    padding: 0;

    display: none;
  }
}

@media (max-width: 500px) {
  .link-shell {

  }

  .nav-icon {
    width: 2rem;
    height: 2rem;

    color: var(--nav-text);
  }

  a {

  }

  .nav-text {


    font-size: 1.5rem;
    font-weight: normal;
  }
}