.page-shell {

}

h1 {

}

.pageInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.activity-container {
  max-width: var(--maxWidth);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (max-width: 750px) {
  .activity-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .activity-container {
    grid-template-columns: repeat(2, 1fr);
  }
}