app-banner {
  width: 100%;
}

.page-shell {
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {

}

.pageInfo-container {
  width: 100%;
  max-width: var(--maxWidth);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.activity-container {
  width: 100%;
  max-width: var(--maxWidth);

  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  justify-content: center;

  /*@media (max-width: 750px) {*/
  /*  grid-template-columns: repeat(2, 1fr);*/
  /*}*/

  /*@media (max-width: 550px) {*/
  /*  grid-template-columns: repeat(1, 1fr);*/
  /*}*/
}