div {
  width: 2rem;
  height: 2rem;

  display: inline-block;
}

button {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  background: transparent;

  border: 2px solid transparent;
  box-sizing: border-box;
}

button:hover {
  border: 2px solid floralwhite;

  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;

  display: inline-block;

  background-color: floralwhite;

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;
}

@media (max-width: 1080px) {
  button:hover {
    border: 2px solid transparent;
  }
}