.product-container {
  margin: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: transparent;
  color: var(--highlight);

  transition: all 0.1s ease-in-out;
}

.product-container:hover {
  background-color: var(--primary);

  color: floralwhite;
}

.product-container:hover button, .product-container:hover p {
  color: floralwhite;
}

h2 {
  margin: 0;

  font-family: Malvie, sans-serif;
}

p {
  margin: 0;

  color: var(--text);
}

img {
  margin: 0;

  width: 100%;
  height: 150px;

  object-fit: cover;
}

button {
  margin: 0.5rem;
  padding: 0;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;

  background-color: transparent;
  color: transparent;

  border: 5px solid transparent;

  transition: all 0.1s ease-in-out;
}

/*button:hover {*/

/*  border: 5px solid floralwhite;*/

/*  cursor: pointer;*/
/*}*/

#ATC:hover {
  background-color: floralwhite;
  color: var(--primary);

  border: 5px solid floralwhite;

  cursor: pointer;

  transform: scale(1.07);
}