.product-shell {

}

.product-container {
  margin: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--primary);
  color: floralwhite;

  @media (hover: hover) {
    background-color: transparent;
    color: var(--highlight);

    transition: all 0.1s ease-in-out;
  }
}

h2 {
  margin: 0;

  width: 100%;

  font-family: Malvie, sans-serif;
}

p {
  margin: 0;

  width: 100%;

  color: var(--text);

  font-size: 1.25rem;
}

img {
  margin: 0;

  width: 100%;
  aspect-ratio: 4/3;

  object-fit: cover;

  @media (max-width: 500px) {

  }
}

button {
  margin: 0.5rem;
  padding: 0;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;

  background-color: floralwhite;
  color: var(--primary);

  border: 5px solid floralwhite;

  transform: scale(1.04);

  @media (hover: hover) {

    background-color: transparent;
    color: transparent;

    border: 5px solid transparent;

    transition: all 0.1s ease-in-out;

    transform: scale(1.0);
  }
}

/* Hover Styles */
@media (hover: hover) {

  /* Desktop Product Background and Title Hover */
  .product-container:hover {
    background-color: var(--primary);
    color: floralwhite;
  }

  /* Desktop Product Add to Cart Button Text and Price Hover */
  .product-container:hover button, .product-container:hover p {
    color: floralwhite;
  }

  /* Desktop Add to Cart Button Hover */
  #add-to-cart:hover {
    background-color: floralwhite;
    color: var(--primary);

    border: 5px solid floralwhite;

    cursor: pointer;

    transform: scale(1.04);
  }
}