.banner-shell {

}

.banner {
  margin: 0 0 1.5rem 0;

  width: 100%;
  height: 300px;

  position: relative;

  display: flex;
  justify-content: center;
}

.subpage {
  height: 200px;
}

h1 {
  font-family: Malvie, sans-serif;
  font-size: 6rem;

  color: floralwhite;
}

img {
  width: 100%;

  object-fit: cover;
}

.book-container {
  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(black 0%, transparent 30%);
}

button {
  margin: 0;
  padding: 0;
}

#book {
  margin: 0;
  padding: 0.2rem 3rem 0 3rem;

  width: 90%;
  max-width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  color: floralwhite;

  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1rem, 3vw, 2rem);

  border: 5px solid floralwhite;
  box-sizing: border-box;

  transition: all .2s ease-in-out;
}

#book.disabled {
  cursor: default;

  background: floralwhite;
  color: var(--primary);

  font-size: clamp(3rem, 4vw, 4rem);

  /*border: 5px solid var(--primary);*/

  /*transform: none;*/
}

#book:not(.disabled):hover {
  transform: scale(1.1);

  background: floralwhite;
  color: var(--primary);

  cursor: pointer;
}

@media (max-width: 1080px) {

}