/* FONT */
@font-face {
  font-family: Malvie;
  src: url("../public/fonts/malvie.woff");
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  background: var(--background);
  color: var(--text);
}

p {
  font-family: "Belanosima", sans-serif;
}

:root {
  font-family: sans-serif;

  --primary: rgb(0 74 79);
  --secondary: rgb(5, 26, 28);
  --tertiary: rgb(96, 142, 146);
  --maxWidth: 700px;

  --background: var(--secondary);
  --text: floralwhite;
  --highlight: var(--tertiary);
  --nav-text: var(--tertiary);
  --nav-highlight: var(--tertiary);
  --setting-background: var(--primary);
  --setting-text: floralwhite;
}

/* THEMES */
.theme-light {
  --background: floralwhite;
  --text: black;
  --highlight: var(--primary);
  --nav-text: var(--primary);
  --nav-highlight: var(--primary);
  --setting-background: var(--primary);
  --setting-text: floralwhite;
}

.theme-dark {
  --background: var(--secondary);
  --text: floralwhite;
  --highlight: var(--tertiary);
  --nav-text: var(--tertiary);
  --nav-highlight: var(--tertiary);
  --setting-background: var(--primary);
  --setting-text: floralwhite;
}

/* UNIVERSAL LAYOUT */