<div class="info-shell">

  @if (data?.type === InfoType.Primary) {
    <div class="info-container primary">
      @if (data?.title != '') {
        <h2 class="title" [innerHTML]="data?.title"></h2>
      }
      @if (data?.content != '') {
        <p [innerHTML]="data?.content"></p>
      }
      @if (data?.image != '') {
        <img [src]="data?.image" alt="image">
      }
    </div>
  }

  @if (data?.type === InfoType.Secondary) {
    <div class="info-container secondary">
      @if (data?.content != '') {
        <p [innerHTML]="data?.content"></p>
      }
    </div>
  }

  @if (data?.type === InfoType.FAQ) {
    <div class="info-container faq">
      @if (data?.title != '') {
        <p class="title" [innerHTML]="data?.title"></p>
      }
      @if (data?.content != '') {
        <p [innerHTML]="data?.content"></p>
      }
    </div>
  }
</div>
