.info-shell {
  padding: 1rem;

  display: flex;
  justify-content: center;
}

.info-container {
  padding: 1rem;

  width: 45%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;

  color: var(--highlight);

  font-family: Malvie, sans-serif;
  font-size: 2rem;
}

p {
  font-size: 1.25em;
  text-align: center;
}