.info-shell {
  /*background-color: red;*/

  display: flex;
  justify-content: center;
}

.info-container {
  /*background-color: black;*/

  padding: 0 1rem 1.25rem 1rem;

  max-width: var(--maxWidth);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.faq {
  flex-direction: row;
  align-items: flex-start;
}

.faq p {
  flex: 1;
  max-width: 50%;
}

.faq p.title {
  text-align: right;
}

.faq p:not(.title) {
  text-align: left;
}

h2 {
  margin: 0;

  font-family: Malvie, sans-serif;
  font-size: 2rem;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;

  font-size: 1.25em;
  text-align: center;
}

.title {
  color: var(--highlight);
}

img {
  width: 100%;
  /*height: auto;*/

  max-width: 700px;
  max-height: 450px;

  display: block;

  object-fit: cover;
  object-position: top;
}

@media (max-width: 850px) {
  .info-container.primary p {
    padding: 0 1rem;
    text-align: left;
  }

  info-container.secondary p {
    background-color: green;
  }

  .info-container.faq {
    width: 100%;
  }

  .faq {
    flex-direction: column;
    align-items: center;
  }

  .faq p.title {
    width: 100%;
    max-width: calc(100% - 2rem);

    text-align: left;
  }

  .faq p {
    width: 100%;
    max-width: calc(100% - 2rem);

    text-align: left;
  }
}